# Virtual Environment
.venv/

# Python
__pycache__/
*.pyc
.pytest_cache/

# MLflow
mlruns/

# VS Code
.vscode/

# Environment
.env

# Data
data/raw/
data/processed/

# Logs
logs/
*.log

# OS
.DS_Store

